

 #content{

     background: yellow ;
     text-align: center;
 }
body{
    background-color: bisque;
  
}
.navbar-brand{
    padding: 20px;
}

#videos{
    padding-left: 20px;
    
}
.d-flex{
    height: 30px;
    width: 500px;
    position:relative;
}

